.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
    padding: 10px;
}

.todo-item:hover {
    background-color: rgba(202, 209, 221, 0.475);
    border-radius: 20px;
    padding: 10px;
}

.todo-item > p {
    font-size: 18px;
    font-weight: bold;
}
